In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./opt/anaconda3/lib/python3.9/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in ./opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.3)

In [2]:
import mysql.connector as connector

In [6]:
connection = connector.connect(user = "admin1", password = "King6please", db = "LittleLemonDB")

In [8]:
cursor=connection.cursor()
print('successfull')

successfull

In [9]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
for table in cursor:
    print(table)

('Bookings',)
('Customers',)
('MenuItems',)
('Menus',)
('OrderItems',)
('Orders',)
('ordersview',)
('Payments',)
('Reservations',)
('Shifts',)
('Staff',)
('Tables',)

In [11]:
CustomersOrders = '''SELECT fullName, Email, PhoneNumber
FROM Customers
WHERE customerID IN (
    SELECT CustomerID
    FROM Orders
    WHERE TotalCost > 60
);
'''
cursor.execute(CustomersOrders)

results = cursor.fetchall()
cols = cursor.column_names


print('Data Requested')
print(cols)
for result in results:
    print(result)

Data Requested
('fullName', 'Email', 'PhoneNumber')
('John Doe', 'johndoe@example.com', 1234567)
('Jane Smith', 'janesmith@example.com', 234567)
('Bob Johnson', 'bobjohnson@example.com', 345678)
('Alice Brown', 'alicebrown@example.com', 45678)
('Mark Davis', 'markdavis@example.com', 56789)